:root {
  --color-primary: #86bc25;
  --color-link: #0072c6;
  --color-teal1: #DDEFE8;
  --color-teal2: #9DD4CF;
  --color-teal3: #6FC2B4;
  --color-teal4: #00ABAB;
  --color-teal5: #0097A9;
  --color-teal6: #007680;
  --color-teal7: #004F59;
  --color-blue1: #A0DCFF;
  --color-blue2: #62B5E5;
  --color-blue3: #00A3E0;
  --color-blue4: #0076A8;
  --color-blue5: #005587;
  --color-blue6: #012169;
  --color-blue7: #041E42;
  --color-green1: #E3E48D;
  --color-green2: #C4D600;
  --color-green4: #43B02A;
  --color-green5: #009A44;
  --color-green6: #046A38;
  --color-green7: #2C5234;
  --color-gray2: #D0D0CE;
  --color-gray4: #BBBCBC;
  --color-gray6: #A7A8AA;
  --color-gray7: #97999B;
  --color-gray9: #75787B;
  --color-gray10: #63666A;
  --color-gray11: #53565A;
  --color-danger: #DA291C;
  --color-dark: #252525;
  --color-mu: #e9eef6;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;

  background-color: #f6f8fc;
}